/* Main Website Styling */
#root {
  display: flex;
  flex-direction: column;
  /* Makes root full length (leave commented) */
  /* max-width: 1280px; */
  /* Centers Page */
  margin: 0px auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* /////// Website Styling ////////

/* NavBar Styling */

.nav-bar-container {
  background-color: white;
  /* Centers NavBar */
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
  /* Makes NavBar sticky */
  position: sticky;
  top: 0;
}

.nav-link {
  margin: 20px;
  list-style-type: none;
}

/* Displays the site title */ 
.site-title {
  text-shadow: 5px 5px rgb(82, 78, 78);
}

/* Displays the introduction picture */
.intro-div {
  background-color: black;
  width: 1000px;
  height: 400px;
  margin: 40px;
  border-radius: 25px;
}

/* Displays pictures to the left */
.display-container-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 1200px;
  margin: 30px;
}

/* Displays pictures to the right */
.display-container-right {
  display: flex;
  background-color: #4B4A4A;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 1200px;
  margin: 30px;
}

/* Information for each picture */
.information {
  font-size: 25px;
}

/* Individual picture styling */
.picture-div {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* Animation for shrinking images on hover */
@keyframes smoothShrink {
  from {
    transform: scale(1); /* Original size */
  }
  to {
    transform: scale(0.8); /* 80% of the original size */
  }
}

.picture {
  background-color: black;
  border: white solid 5px;
  border-radius: 35px;
  width: 600px;
  height: 400px;
  transition: animation 0.5s ease-in-out;
} 

.picture:hover {
  /* Apply the animation on hover */
  animation: smoothShrink 0.5s forwards;
  /* background-color: black; */
  border-radius: 50px;
}

/* Button Styling */

.redirect {
  background-color: white;
  color: black;
}
